{% extends 'base.html.twig' %}
{% block cssIncludes %}

{% endblock %}
{% block title %}Connexion{% endblock %}
{#TODO:faire le style#}
{% block body %}
	<form method="post" class="mx-auto col-9 col-lg-6">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté avec le compte {{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<div class="mb-3 d-sm-flex flex-column text-sm-start">
			<h2 class="mb-3 fw-bold">Connexion</h2>
			<p>Devenez membre. <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-12 mx-auto mt-5">
					<label for="inputEmail" class="fw-bold ">Mail</label> <input
							type="email" value="{{ last_username }}"
							name="email" id="inputEmail" class="form-control"
							autocomplete="email" required autofocus>

					<label class="fw-bold " for="inputPassword">Mot de passe</label> <input
							type="password" name="password" id="inputPassword"
							class="form-control" autocomplete="current-password"
							required>

					<div>
						<a href="{{ path('app_forgot_password_request') }}">Mot
							de passe oublié</a>
					</div>

					<input type="hidden" name="_csrf_token"
					       value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mb-3">
						<label> <input type="checkbox" name="_remember_me"> Se
							souvenir de moi </label>
					</div>
					<div class="col-md-6 mx-auto">
					<button class="btn btn-lg btn-primary w-100" type="submit">
						Je me connecte
					</button>
					</div>

				</div>
			</div>
		</div>
	</form>
{% endblock %}
