{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block cssIncludes %}

{% endblock %}
{% block body %}
<div class="background_page_form">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container-fluid">
        <div class="mx-auto col-9 col-lg-6">
            <div class="form_page">
                <div class="mb-3 d-sm-flex flex-column text-sm-start">
                    <h2 class="mb-3 fw-bold">Rejoignez-nous !</h2>
                    <p>Déjà inscrit ? <a class="color-orange text-decoration-none" href="{{ path('app_login') }}">Connectez-vous.</a></p>
                </div>

                <div>
                    {{ form_start(registrationForm) }}

                    <div class="d-md-flex flex-wrap justify-content-between">
                        <div class="col-12 col-lg-5 d-md-flex flex-column justify-content-around">
                            {{ form_row(registrationForm.firstname) }}
                            {{ form_row(registrationForm.phoneNumber) }}
                        </div>
                        <div class="col-12 col-lg-5 d-md-flex flex-column justify-content-around">
                            {{ form_row(registrationForm.lastname) }}
                            {{ form_row(registrationForm.memberIdNumber) }}
                        </div>
                    </div>


                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}


                    <div class="d-md-flex flex-row justify-content-around">

                    {{ form_row(registrationForm.newsletterOption) }}

                        <div class="d-md-flex flex-column justify-content-around">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                        </div>
                    </div>
                    </div>


                    <div class="col-md-6 mx-auto">
                        <button type="submit" class="btn button-orange w-100">S'inscrire</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
    {% block jsIncludes %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>{% endblock %}
{% endblock %}
