{# Pied de page #}
<div class="row d-flex footer_zone">
    <div class="col-12 column footer mt-auto py-4">
        <div class="row">
            <div class="col-12 col-lg-3 offset-2 offset-lg-1">
                <img src="{{ asset('/images/logo_footer.gif') }}" alt="" class="footer-logo">
            </div>
            <div class="col-12 col-lg-2 text-white text-center text-lg-start">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Coordonnées</h3>
                    <p class="text_footer">Association Action Culottée<br> 6, rue Houdon 75018 Paris
                    actionculottee@gmail.com</p>
                </div>
            </div>
            <div class="col-12 col-lg-2 text-white text-center text-lg-start">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Navigations</h3>
                    <p class="text_footer"><a class="nav-link{{ route == 'main_home' ? ' active' }}" href="{{ path('main_home') }}">Accueil</a>
                    <a class="nav-link{{ route == 'main_about' ? ' active' }}" href="{{ path('main_home') }}#whoAreWe" }}">Qui sommes-nous ?</a>
                    <a class="nav-link{{ route == 'main_partners' ? '' }}" href="{{ path('main_partners') }}">Nos partenaires</a>
                    <a class="nav-link{{ route == 'main_agenda' ? '' }}" href="{{ path('main_agenda') }}">Actualités</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-2 text-white text-center text-lg-start">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Liens utiles</h3>
                    <p class="text_footer"><a class="nav-link{{ route == 'legals_legal_mentions' ? '' }}" href="{{ path('legals_legal_mentions') }}">Mentions légales</a>
                    <a class="nav-link{{ route == 'legals_cgu' ? '' }}" href="{{ path('legals_cgu') }}">Conditions Générales d'Utilisation</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row copyright">
        <div class="col-12 col-lg-2 offset-lg-5">
            <div class="footer_navbar text-center">
                <h3>Action Culottée - 2022</h3>
            </div>
        </div>
        <div class="col-12 col-lg-2 offset-lg-1 text-center">
            <div class="footer_navbar">
                <a href="https://www.facebook.com/groups/2876116489372224/" target="_blank"><i class="fa-brands fa-facebook-square fa-2x ms-4 me-3"></i></a> <a href="https://www.instagram.com/actionculottee/" target="_blank"><i class="fa-brands fa-instagram-square fa-2x me-3"></i></a> <a
                        href="https://www.linkedin.com/company/actionculottee" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>

</div>
