{% extends 'base.html.twig' %}

{% block title %}Qui-sommes-nous ?{% endblock %}

{% block cssIncludes %}
    {#  Inclusion du css pour le slider  #}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css"
    />
{% endblock %}

{% block body %}

    {# //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}

    <div class="d-md-flex row">
        {# TODO:dynamique +responsive #}
        <div id="about" class="container-fluid col-md-6 offset-1">
            <h1>Qui sommes-nous ?</h1>
            {% if display_dynamic_content('about') is empty %}
            <h2>Qu'est-ce qu'Action Culottée ?</h2>

            <p>
                L'union fait la force et les évènements de ces derniers temps nous ont plus que jamais rappelé cet
                adage. À
                l'initiative de Nathalie Paredes, une détaillante indépendante en lingerie, nous avons pu nous regrouper
                sur
                les
                réseaux sociaux et organiser des actions communes pour défendre, valoriser et promouvoir notre métier et
                notre
                savoir-faire.
            </p>

            {#         //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}


            <h2>Qu'avons-nous fait en 2021 ?</h2>


            <div>
                <ul>

                    <li>
                        Envoi d'une culotte de mécontentement à notre 1er minister M. Jean Castex : Une action culottée
                        suivie par
                        plus de
                        280 boutiques indépendantes, qualifiées de « non essentielles », et relayée massivement sur les
                        médias
                        locaux et
                        nationaux, même plusieurs mois après.
                    </li>

                    <li>
                        Achats groupés et tarifs négociés pour du matériel professionnel (bustes et mannequins,
                        décoration
                        de
                        vitrine)
                        Visites d'usine et rencontres fournisseurs (LeChat et Louisa Bracq)
                    </li>

                    <li>
                        Action de solidarité : envoi de lingerie à des personnes sinistrées suite aux innondations en
                        Belgique.
                    </li>

                    <li>
                        Mise en place et modération d'un fil de discussion sur les réseaux sociaux (facebook et
                        Whatsapp)
                        pour
                        faciliter les
                        dépannages et rétrocessions et partager les bonnes pratiques et idées.
                    </li>

                    <li>
                        Création et mise en ligne d'une carte de France recensant les boutiques indépendantes
                        multimarques
                        mise
                        gracieusement
                        à disposition des boutiques et à destination de leurs clients.
                    </li>

                </ul>
            </div>

            {#         //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}


            <h2>Quelle sont les missions d'Action Culottée ?</h2>


            <div>

                <ul>

                    <li>
                        Accompagner les professionnels indépendants de l’habillement en lingerie en équipement et
                        bien-être
                        de la
                        personne
                        dans leur quotidien.
                    </li>

                    <li>
                        Faciliter le partage, la réactivité et la communication entre nous pour créer une dynamique de
                        groupe.
                    </li>

                </ul>


                <h2> Quelles sont les valeurs d'Action Culottée ?</h2>


                <ul class="list-unstyled">
                    <li> - Transparence vis-à-vis de nos membres</li>
                    <li>- Partage</li>
                    <li>- Réactivité</li>
                    <li>- Dynamisme</li>
                </ul>


            </div>


            {#         //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}


            <h2> Qui sommes-nous ?</h2>


            <div>

                <ul>
                    <li>
                        2 co presidentes : Nathalie Peredes (69) et Aline Tran (75), fondatrices du mouvement
                    </li>

                    <li>
                        2 co Trésorières : Valerie Le Douguet Kappler (10) et Stephanie Lherminier(75)
                    </li>

                    <li>
                        2 co Secretaires : Annabelle Piquet(21)et Aurélie Vidal Markocki (30)
                    </li>
                </ul>


                <p>
                    Ce bureau officiel est aidé dans ses tâches par d’autres détaillantes ou groupes de travail qui ont
                    déjà
                    œuvré
                    pour
                    des actions en 2021.
                </p>

            </div>


            {#         //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}

            <h2> Pourquoi adhérer ?</h2>

            <div>
                <ul>
                    <li>
                        Contribuer au fonctionnement de l'association, à son existence et à sa bonne gestion.
                    </li>

                    <li>
                        Participer aux visites d’usines et/ou de fournisseurs
                    </li>

                    <li>
                        Profiter de formations spécifiques à notre métier avec un accompagnement et une prise en charge
                        du
                        dossier par
                        des
                        organismes partenaires.
                    </li>

                    <li>
                        Bénéficier des avantages suite aux négociations d’achats groupés pour de l’équipement ou pour
                        faire
                        valoir nos
                        intérêts auprès de nos fournisseurs .
                    </li>

                    <li>
                        Défendre les intérêts de vos consœurs et valoriser votre métier.
                    </li>

                    <li>
                        Profiter de la retombée médiatique des actions culottées menées.
                    </li>
                </ul>
            </div>

        </div>


    {% else %}
        <p class="">
            {{ display_dynamic_content('about') }}
        </p>

        {% endif %}
        {# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}

        <section id="container" class="d-flex align-items-center col-md-3 offset-1 p-md-3">

            <div id="vertical-slider" class="splide">

                <div class="splide__track ">

                    <ul class="splide__list ">

                        {#                        TODO:foreach #}

                        <li class="splide__slide">
                            <div class="d-flex flex-column">
                                <img class="img-fluid w-100" src="{{ asset('images/test.png') }}" alt="">
                                <h4 class="text-center">test</h4>
                            </div>
                        </li>
                        <li class="splide__slide my-auto">
                            <div class="d-flex flex-column">
                                <img class="img-fluid w-100 " src="{{ asset('images/map_icon.png') }}" alt="">
                                <h4 class="text-center">test</h4>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="d-flex flex-column">
                                <img class="img-fluid w-100" src="{{ asset('images/test.png') }}" alt="">
                                <h4 class="text-center">test2</h4>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="d-flex flex-column">
                                <img class="img-fluid w-100" src="{{ asset('images/test.png') }}" alt="">
                                <h4 class="text-center">test3</h4>
                            </div>
                        </li><li class="splide__slide ">
                            <div class="d-flex flex-column">
                                <img class="img-fluid w-100" src="{{ asset('images/test.png') }}" alt="">
                                <h4 class="text-center">test3</h4>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </section>

    </div>





{% endblock %}

{% block jsIncludes %}

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            new Splide('.splide', {


                type: 'loop',
                direction: "ttb",
                updateOnMove: true,

                isNavigation: true,
                wheel: true,
                pagination: false,
                focus: "center",

                gap: '2.5rem',

                perPage: 1,

                rewind: true,

                width: '100vh',
                height: '80rem',
                fixedHeight: 'auto',
                autoWidth: true,
                autoHeight: true,

// breakpoints responsive

                breakpoints: {

                    1400:{
                        height: '85rem',
                    },

                    1200 :{
                        height: '90rem',
                    },

                    1024:{
                        height: '100rem',
                    },

                    767: {

                        type: 'loop',
                        direction: "ltr",
                        updateOnMove: true,

                        isNavigation: true,
                        wheel: true,
                        pagination: false,
                        focus: 'center',

                        perPage: 3,

                        rewind: true,

                        width: '100vw',
                        height: '150rem',

                        autoWidth: false,
                        autoHeight: false,


                    },

                },

            }).mount();

        });

    </script>


{% endblock %}
