{% extends 'base.html.twig' %}

   {% block cssIncludes %}
       {# Inclusion de la librairie Leaflet pour la map   #}
       <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
       {# Ajout du Leaflet Control Geocoder pour le css de la barre de recherche #}
       <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
       {# Ajout du leaflet Locate control pour la geolocalisation #}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
       <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   {% endblock %}


{% block title %}Accueil{% endblock %}

{% block body %}
    
    <div class="row introduction bgc-orange">
        
        <div class="col-12 text-center typewriter">
            <h2 class="text-light home-title">Culottés, inspirés et déterminés</h2>
        </div>
        
        <div class="col-12  text-light p-0 mb-2">
            {{ display_dynamic_content('home_main_presentation') }}
        </div>
        
        <div class="row mt-2">
            <div class="col-lg-6 offset-lg-6 col-md-8 offset-3 col-12">
                <a href="#map-title" class="home-button mt-3 btn">Retrouvez-nous près de chez vous</a>
            </div>
        </div>
    </div>
 
    
    <div class="row missions" data-aos="fade-in"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000">
        <div class="row ">
            <div class="col-12 text-center">
                <h3 class="color-orange">Action culottée est une association loi de 1901</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="home-title" > Nos <span class="orange-line">Missions</span></h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 text-center">
                {{ display_dynamic_content('home_missions_presentation') }}
            </div>
        </div>
    
    </div>
    
    <div class="row actions bgc-orange">
        
        <div class="row mb-3"  >
            <div class="col-lg-9 offset-lg-1 col-10 offset-1 " >
                <h2 class="text-light home-title ">Nos Actions depuis 2021</h2>
            </div>
        </div>
        
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9  d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Envoi d'une culotte de mécontentement à notre Premier Ministre M. Jean Castex : une action culottée suivie par plus de 280 boutiques indépendantes, qualifiées de « non essentielles », et relayée massivement sur les médias locaux et nationaux, même plusieurs
                    mois après.</p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Achats groupés et tarifs négociés pour du matériel professionnel (bustes et mannequins, décoration de vitrine).</p>
            </div>
           
           
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Publicité : campagne d’affichage à travers toute la France et Belgique pour revendiquer l’essentialité des sous-vêtements.</p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/founders/couturiere_bracq.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image ">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Visites d'usine et rencontres fournisseurs (LeChat et Louisa Bracq). </p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Action de solidarité : envoi de lingerie à des personnes sinistrées suite aux innondations en Belgique.</p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Mise en place et modération d'un fil de discussion sur les réseaux sociaux (Facebook et Whatsapp) pour faciliter les dépannages et rétrocessions et partager les bonnes pratiques et idées.</p>
            </div>
           
        </div>
    
        <div class="row mx-auto mx-lg-0 mb-3 mb-lg-0 p-lg-0" >
            <div class="col-12 col-lg-2 p-0" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/castex-panty.jpg') }}" alt="Culottes envoyée à Jean Castex" class="img-fluid dynamic-image">
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-row align-items-lg-center" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Création et mise en ligne d'une carte de France recensant les boutiques indépendantes multimarques mise gracieusement à disposition des boutiques et à destination de leurs clients.</p>
            </div>
        </div>
    </div>
    
    
    <div class="row posters-box mb-3" >
        <div class="col-lg-3 d-none d-lg-block" >
            <div class="row bgc-orange color-rows"></div>
            <div class="row color-rows"></div>
        </div>
        
        <div class="col-lg-6 col-12 d-flex flex-column flex-lg-row posters align-items-lg-center justify-content-lg-around py-3 px-0">
            
            <div class="col-lg-3 ms-lg-2 col-10 offset-1 mb-2 d-none d-md-block" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/home_presentation/poster.jpg') }}" alt="Affiche de la campagne essentiel" class="img-fluid">
            </div>
    
            <div class="col-lg-3 ms-lg-2 col-10 offset-1 mb-2 d-none d-md-block" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/home_presentation/poster.jpg') }}" alt="Affiche de la campagne essentiel" class="img-fluid">
            </div>
    
            <div class="col-lg-3 ms-lg-2 col-10 offset-1 mb-2" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <img src="{{ asset('images/home_presentation/poster.jpg') }}" alt="Affiche de la campagne essentiel" class="img-fluid">
            </div>
            
        </div>
    
        <div class="col-lg-3 d-none d-lg-block ">
            <div class="row bgc-orange color-rows"></div>
            <div class="row color-rows"></div>
        </div>
        
    </div>
    
    
    <div class="row about">
        <div class="col-12 text-center mt-5 mb-3" data-aos="fade-left"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000">
            <h2 class="home-title orange-line" id="whoAreWe">Qui Sommes-nous ?</h2>
        </div>
        <div class="col-lg-8 offset-lg-2 col-12 mb-3" data-aos="fade-left"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000">
            {{ display_dynamic_content('home_about_presentation_text') }}
        </div>
        
        {#    Carousel #}
        <div class="row carousel mx-auto mx-md-0">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12" data-aos="fade-left"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ asset('images/founders/Annabelle 2.jpg') }}" class="d-block w-100 img-fluid" alt="Annabelle Piquet recevant le prix de la boutique ambassadeur">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Annabelle Piquet recevant le prix de la boutique ambassadeur</h5>
                                <p>Gérante de la boutique Un Temps Pour Elle à Dijon</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ asset('images/founders/la-clef-des-charmes-sex-shop-à-Toulouse2.jpg') }}" class="d-block w-100 img-fluid" alt="Devanture de la très chic boutique La clé des charmes à Toulouse">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Devanture de la très chic boutique La clé des charmes à Toulouse</h5>
                                <p>Avec Action Culottée, il y en a pour tous les goûts !</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/founders/audrey-marie.jpg') }}" class="d-block w-100 img-fluid" alt="Audrey Marie, gérante de la boutique Jolie Chose à Venarey Les Laumes">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Audrey Marie, gérante de la boutique Jolie Chose à Venarey Les Laumes</h5>
                                <p>Membre engagée pour la cause culottée et influenceuse lingerie sur Tiktok</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row why-join bgc-orange" >
        <div class="row">
            <div class="col-lg-10 offset-lg-1 ps-5 col-12" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <h2 class="text-light home-title mb-5">Pourquoi adhérer ?</h2>
            </div>
        </div>
        
        <div class="row mx-auto mx-lg-0 mt-4">
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Contribuer au fonctionnement de l'association, à son existence et à sa bonne gestion.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Participer aux visites d’usines et/ou de fournisseurs. </p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mt-4">
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Profiter de formations spécifiques à notre métier avec un accompagnement et une prise en charge du dossier par des organismes partenaires. </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Bénéficier des avantages suite aux négociations d’achats groupés pour de l’équipement ou pour faire valoir nos intérêts auprès de nos fournisseurs. </p>
            </div>
        </div>
    
        <div class="row mx-auto mx-lg-0 mt-4">
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Profiter de la retombée médiatique des actions culottées menées. </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-6" data-aos="fade-right"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
                <p class="text-light">Défendre les intérêts de vos consœurs et valoriser votre métier. </p>
            </div>
        </div>
        
    </div>
    
    <div class="row map" data-aos="fade-left"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000">
        <div class="row">
            <div class="col-12" >
                <h2 class="home-title" id="map-title">Retrouvez-nous près de chez vous !</h2>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12" id="map"></div>
        </div>
    </div>
    
    <div id="scrollUp">
        <a href="#top"><img src="{{ asset('images/to_top.png') }}"/></a>
    </div>
    
   
{% endblock %}

{% block jsIncludes %}
    {#    Inclusion jQuery  #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {# Inclusion de la librairie Leaflet pour la map   #}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    {# Ajout du Leaflet Control Geocoder pour le css de la barre de recherche #}
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    {# Ajout du leaflet Locate control pour la geolocalisation #}
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    {# Inclusion fichier JS de la map   #}
    <script src="{{ asset('js/leaflet-map.js') }}"></script>
    {#  Pour animer au scroll  #}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
    <script src="{{ asset('js/scroll-up.js') }}"></script>
    <script src="{{ asset('js/home-script.js') }}"></script>

{% endblock %}

