{% extends 'base.html.twig' %}
   {% block cssIncludes %}
       {# Inclusion de la librairie Leaflet pour la map   #}
       <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
             integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
             crossorigin=""/>
       {# Ajout du Leaflet Control Geocoder pour le css de la barre de recherche #}
       <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
       {# Ajout du leaflet Locate control pour la geolocalisation #}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
   {% endblock %}


{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1>Action Culottée</h1>
        </div>
  
    
    <div class="row ">
        <div class="col-12 col-md-10 offset-md-1 d-md-flex flex-md-row-reverse">
            
            <div class="col-12 col-md-4 p-0 d-md-none">
                <img src="
{{ asset('images/exemple-accueil.jpg') }}
{#{{ asset('images/home_presentation/'~ homeModification.mainImage) }}#}
" alt="" class="img-fluid col-12">
            </div>
            
            <div class="col-12">

                <img src="
{{ asset('images/exemple-accueil.jpg') }}
{#{{ asset('images/home_presentation/'~ homeModification.mainImage) }}#}
"

                     alt="" class="img-fluid float-md-end h-md-25 d-none d-md-inline">
                <p class="">
                    {{ display_dynamic_content('accueil') }}
                </p>
            </div>
        </div>

        <div class="row">
            <h2 class="col-12 col-lg-10 offset-lg-1">Retrouvez-nous près de chez vous :</h2>
            <div class="col-12 col-lg-10 offset-lg-1 p-0">
                {# Conteneur de la map#}
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsIncludes %}
{#    Inclusion jQuery pour faciliter les requêtes ajax #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {# Inclusion de la librairie Leaflet pour la map   #}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin="">
    </script>
    {# Ajout du Leaflet Control Geocoder pour le css de la barre de recherche #}
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    {# Ajout du leaflet Locate control pour la geolocalisation #}
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    {# Inclusion fichier JS de la map   #}
    <script src="{{ asset('js/leaflet-map.js') }}"></script>
{% endblock %}

