{% extends 'base.html.twig' %}

{% block title %} Partenaires {% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center"> Nos partenaires </h1>

        <div class="row">

            <div class="col-12 col-md-8 mx-auto d-flex flex-wrap">

                {% set i = 0 %}

                {% for partner in partners %}

                    <div class="card" style="width: 22%; margin: 10px;">
                        <a href="#">
                            <img data-ov1="{{ i }}" data-ov2="{{ partner.id }}" src="{{ asset('images/images-partners/' ~ partner.logo ) }}" alt="" class="card-img-top">
                        </a>

                    </div>

                    {% set i = i + 1 %}

                    {% else %}

                        <div class="alert alert-warning w-100 text-center">Pas de partenaire pour le moment</div>

                {% endfor %}

            </div>

        </div>


    </div>

{% endblock %}

{% block jsIncludes %}

    <script>

        // Content
        const partnersL = [];

        {% for partner in partners %}

            partnersL.push({
                id: '{{ partner.id }}',
                title: '{{ partner.title }}',
                logo: '{{ partner.logo ?? 'None' }}',
                description: '{{ partner.description|purify }}',
                offer: '{{ partner.offer|purify }}'

            });

        {% endfor %}


        // Vérification des rôles
        let userRoles = [];
        let getUser;

        {% if app.user is null %}

                userRoles = [''];

            {% else %}

                {% for role in app.user.roles %}

                    userRoles.push('{{ role }}');

                {% endfor %}

        {% endif %}

        const checkIfUser = userRoles.includes('ROLE_USER');

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script type="module" src="{{ asset('js/partner/main.js') }}"></script>
{% endblock %}



