{% extends 'base.html.twig' %}

{% block title %} Partenaires {% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center"> Nos partenaires </h1>

        <div class="row">
            <div class="col-12 d-flex flex-row flex-wrap align-items-baseline">

                {% set i = 0 %}

                {% for partner in partners %}

                    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 mx-auto mb-4 p-sm-4 card-partner">
                        <img data-ov1="{{ i }}" data-ov2="{{ partner.id }}" src="{{ asset('images/images-partners/' ~ partner.logo ) }}" alt="" class="card-img-top rounded-5">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ partner.title }}</h2>
                        </div>
                    </div>

                    {% set i = i + 1 %}

                    {% else %}

                        <div class="alert alert-warning w-100 text-center">Pas de partenaire pour le moment</div>

                {% endfor %}

            </div>

        </div>

        <div class="row partner d-none overlay mx-auto">

            <div class="col-12">

                <div class="display-partner bg-white col-md-10 col-lg-6 d-flex flex-row mx-auto mt-5">

                    {# Bord jaune #}
                    <div class="bg-warning col-1"></div>

                    {# Contenu #}
                    <div class="content col-11 text-black d-lg-flex flex-lg-column flex-lg-wrap">

                        {# Fermeture #}
                        <div class="d-flex flex-row justify-content-end mb-5 p-3">
                            <i onclick="closeOverlayPartner()" class="fa-solid fa-xmark text-black"></i>
                        </div>

                        {# Information #}
                        <div class="row">

                            <div class="col-12">

                                <div class="d-lg-flex flex-lg-row">

                                    {# Image #}
                                    <div class="partner-image col-10 col-lg-4 my-lg-0 ms-lg-3 mt-3 mb-5 mx-auto mx-lg-0">
                                        <img class="col-12 col-sm-12 col-md-12 col-lg-12" src="{{ asset('images/banner.jpeg') }}" alt="">
                                    </div>

                                    {# Titre/Description #}
                                    <div class="d-lg-flex flex-lg-column col-9 col-lg-7 mx-auto">

                                        {# Titre/Lien #}
                                        <div class="col-3">

                                            <div class="partner-title">
                                                <h2>...</h2>
                                            </div>

                                            {#
                                            <div>
                                                <h3 class="text-decoration-underline"> <a class="text-black" href="#">www.jesuislesupersite.fr</a> </h3>
                                            </div>
                                            #}

                                        </div>


                                        {# Descrition #}
                                        <div class="d-flex flex-column text-warning flex-lg-row mt-lg-5">

                                            <div class="partner-sentence p-3">

                                                <p class="w-100">...</p>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>



    </div>

{% endblock %}

{% block jsIncludes %}

    <script>

        // Content
        const partnersL = [];

        {% for partner in partners %}

            partnersL.push({
                id: '{{ partner.id }}',
                title: '{{ partner.title }}',
                logo: '{{ partner.logo ?? 'None' }}',
                description: `{{ partner.description|purify }}`,
                offer: `{{ partner.offer|purify }}`

            });

        {% endfor %}


        // Vérification des rôles
        let userRoles = [];
        let getUser;

        {% if app.user is null %}

                userRoles = [''];

            {% else %}

                {% for role in app.user.roles %}

                    userRoles.push('{{ role }}');

                {% endfor %}

        {% endif %}

        const checkIfUser = userRoles.includes('ROLE_USER');

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="{{ asset('js/partner/overlay.js') }}"></script>
{% endblock %}



