{% extends 'base.html.twig' %}

{% block title %} Partenaires {% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center"> Nos partenaires </h1>

        <div class="row">

            <div class="col-12 col-md-8 mx-auto d-flex flex-wrap">

                {% set i = 0 %}

                {% for partner in partners %}

                    <div class="card" style="width: 22%; margin: 10px;">
                        <a href="#">
                            <img data-ov1="{{ i }}" data-ov2="{{ partner.id }}" src="{{ asset('images/images-partners/' ~ partner.logo ) }}" alt="" class="card-img-top">
                        </a>

                    </div>

                    {% set i = i + 1 %}

                    {% else %}

                        <div class="alert alert-warning w-100 text-center">Pas de partenaire pour le moment</div>

                {% endfor %}

            </div>

        </div>


    </div>

{% endblock %}

{% block jsIncludes %}

    <script>

        let partnersL = [];

        {% for partner in partners %}

            partnersL.push({
                id: '{{ partner.id }}',
                title: '{{ partner.title }}',
                logo: '{{ partner.logo ?? 'None' }}',
                description: '{{ partner.description }}',
                offer: '{{ partner.offer }}'

            });

        {% endfor %}

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    {#    Inclusion jQuery pour faciliter les requêtes ajax #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="module" src="{{ asset('js/partner/main.js') }}"></script>
{% endblock %}



