{% extends 'base.html.twig' %}

{% block title %}Modification de votre boutique{% endblock %}

{% block cssIncludes %}

    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">

{% endblock %}

{% block body %}

    <main class="container">

        <div class="row">

            {% for shops in app.user.shops %}

                <div class="col-12">

                    <!-- Block de la boutique crée par l'utilisateur -->
                    <div class="row">

                        <div class="col-12 d-md-flex flex-md-row align-items-md-center">

                            <!-- Information sur la boutique -->
                            <div class="row mt-3">

                                <div class="col-12 mx-auto">

                                    <table class="table d-none d-md-block shop-edit-table">
                                        <thead class="col-xxl-6">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Adresse</th>
                                            <th>Code postal</th>
                                            <th>Ville</th>
                                            <th>Pays</th>
                                            <th>Téléphone</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>{{ shops.name }}</td>
                                            <td>{{ shops.address }}</td>
                                            <td>{{ shops.zip }}</td>
                                            <td>{{ shops.city }}</td>
                                            <td>{{ shops.country }}</td>
                                            <td>{{ shops.phoneNumber }}</td>
                                        </tr>
                                        </tbody>

                                    </table>


                                    <ul class="list-unstyled p-0 separeted d-md-none">
                                        <li>Nom: {{ shops.name }}</li>
                                        <li>Adresse: {{ shops.address }}</li>
                                        <li>ZIP Code: {{ shops.zip }}</li>
                                        <li>Ville: {{ shops.city }}</li>
                                        <li>Région: {{ shops.country }}</li>
                                        <li>Téléphone: {{ shops.phoneNumber }}</li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>



                    <div class="row mb-5">

                        <div class="col-12 d-flex flex-row justify-content-end">

                            <div>
                                <a href="{{ path('user_panel_edit_shop', {'id': shops.id, 'token': csrf_token('modifier_boutique_' ~ shops.id)}) }}"><button class="btn btn-warning me-2">Modifier</button></a>
                            </div>

                            <div>
                                <a onclick="return confirm('Etes-vous sur de vouloir supprimer cette boutique ?')" href="{{ path('user_panel_delete_shop', {'id': shops.id, 'token': csrf_token('supprimer_boutique_' ~ shops.id) })
                                }}" ><button class="btn btn-danger">Supprimer</button></a>

                            </div>

                        </div>

                    </div>

                </div>

                {% else %}
                    <div class="col-12 mx-auto">
                        <div class="alert alert-warning">Aucune boutique a été crée pour le moment</div>
                    </div>
            {% endfor %}
            <a href="{{ path('user_panel_shop_creation') }}"><button class="btn btn-primary mb-3">Créer une boutique</button></a>
        </div>

    </main>

{% endblock %}

{% block jsIncludes %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/typeahead/typeahead.js') }}"></script>
    <script src="{{ asset('js/typeahead/autocompletion-shop-inputs.js') }}"></script>
{% endblock %}