{% extends 'base.html.twig' %}

{% block title %}Modification du mot de pass{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-10 mx-auto">

                {# Formulaire de modification de mot de passe #}
                {{ form_start( form, {attr: {novalidate: 'novalidate'}} ) }}

                    {{ form_row(form.oldPassword) }}

                    {{ form_row(form.newPassword) }}

                    <div class="row mb-3">

                        <div class="col-12 d-flex flex-row mt-3">

                            <div class="me-4">
                                {{ form_widget(form.submit, {'attr': { 'value': 'Modifier', 'class': 'button-orange' } }) }}
                            </div>

                            <div>
                                <a href="{{ path('user_panel_profil') }}"><button type="button" class="btn btn-danger btn-back">Retour</button></a>
                            </div>


                        </div>

                    </div>

                {{ form_end(form) }}


            </div>

        </div>

    </div>

{% endblock %}

