{% extends 'base.html.twig' %}

{% block title %}Modification de l'email{% endblock %}

{% block body %}

    <div class="container">

        <div class="row footer-cheat">

            <div class="col-10 mx-auto">

                {# Formulaire de modification d'email #}
                {{ form_start( form ) }}

                    {{ form_label(form.email, 'Votre nouvelle adress mail') }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}

                    <div class="row mb-3">

                        <div class="col-12 d-flex flex-row mt-3">

                            <div class="me-4">
                                {{ form_widget(form.submit, {'attr': { 'value': 'Modifier', 'class': 'button-orange' } }) }}
                            </div>

                            <div>
                                <a href="{{ path('user_panel_profil') }}"><button type="button" class="btn btn-danger btn-back">Retour</button></a>
                            </div>


                        </div>

                    </div>

                {{ form_end(form) }}

            </div>

        </div>

    </div>

{% endblock %}

