{% extends 'baseAdmin.html.twig' %}

{% block title %}Menu d'administration{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <h1 class="col-12 text-center my-5">Liste des utilisateurs</h1>
            </div>

            <div class="row">

                <div class="col-12 col-md-9 mx-auto">


                    {# Affichage nb d'utilisateurs #}
                    <div class="row">
                        <p class="col-12 text-center">Nombre total d'utilisateurs : {{ users.getTotalItemCount() }}</p>
                    </div>


                    {% if users is not empty %}
                        <div class="row">
                            <div class="col-12 my-3 text-center">
                                <div class="d-inline-block">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="search-form offset-md-4 col-md-4">
                            <form method="GET" action="{{ path('admin_panel_users_search') }}" class="search-box">
                                <input type="search" placeholder="Recherche" name="search" aria-label="search"  class="form-control">
                                <button type="submit">envoyer</button>
                            </form>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-12 table-responsive">

                            <table class="align-middle table table-sm table-striped table-hover">
                                <thead>
                                <tr>
                                    {#                                TODO:trié #}
                                    <th scope="col"></th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Rôle ', 'a.roles') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Prénom ', 'a.firstname') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Nom ', 'a.lastname') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Email ', 'a.email') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'N° adhérent ', 'a.memberIdNumber') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'N° téléphone ', 'a.phoneNumber') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Newsletter ', 'a.newsletterOption') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Paiement ', 'a.membershipPaid') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(users, 'Compte vérifié ', 'a.isVerified') }}</th>

                                </tr>
                                </thead>
                                <tbody>


                                {% for user in users %}


                                    <tr>

                                        <td>
                                            {% if user.roles[0] != "ROLE_ADMIN" %}
                                                <div class="mt-3">

                                                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')"
                                                       href="{{ path('admin_panel_user_delete_', {'id': user.id, 'csrf_token' : csrf_token('user_delete_' ~ user.id)}) }}"
                                                       class="text-decoration-none text-danger">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        Supprimer </a>

                                                </div>
                                            {% endif %}
                                        </td>

                                        <td>{% if user.roles[0] == "ROLE_ADMIN" %}
                                                Administrateur
                                            {% elseif user.roles[0] == "ROLE_MEMBER" %}
                                                Membre
                                            {% elseif user.roles[0] == "ROLE_USER" %}
                                                Membre désactivé
                                            {% endif %}
                                        </td>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.memberIdNumber }}</td>
                                        <td>{{ user.phoneNumber }}</td>
                                        <td>{{ user.newsletterOption == 0 ? "Non" : "Oui" }}</td>
                                        <td>{{ user.membershipPaid == 0 ? "Cotisation non réglée" : "Cotisation réglée" }}</td>
                                        <td>{{ user.isVerified == 0 ? "Compte non vérifié" : "Compte vérifié" }}
                                        <td>


                                            {% if user.roles[0] != "ROLE_ADMIN" %}

                                                <div class="mt-3">

                                                    <a class="text-decoration-none text-warning me-3"
                                                       href="{{ path('admin_panel_user_edit_', {'id': user.id}) }}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        Modifier
                                                    </a>


                                                </div>

                                            {% endif %}

                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>


                        <div class="row">
                            <div class="col-12 my-3 text-center">
                                <div class="d-inline-block">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>

                        {% else %}
{#                        TODO: faire joli#}
                        <p>aucune utilisateur à afficher</p>

                    {% endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}