{% extends 'baseAdmin.html.twig' %}

{% block title %}Menu d'administration{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <h1 class="col-12 text-center my-5">Liste des partenaires</h1>
            </div>

            <div class="row">

                <div class="col-12 col-md-8 mx-auto">


                    {% if partners is not empty %}

                        {# Affichage nb de partenaire #}
                        <div class="row">
                            <p class="col-12 text-center">Nombre total de partenaires
                                : {{ partners.getTotalItemCount() }}</p>
                        </div>

                        {# Pagination #}
                        <div class="row">
                            <div class="col-12 my-3 text-center">
                                <div class="d-inline-block">
                                    {{ knp_pagination_render(partners) }}
                                </div>
                            </div>
                        </div>


                        {# Tableau #}
                        <div class="row">

                            <div class="col-12 table-responsive">

                                <table class="align-middle table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">{{ knp_pagination_sortable(partners, 'Titre ', 'a.title') }}</th>
                                        <th scope="col">{{ knp_pagination_sortable(partners, 'Description ', 'a.description') }}</th>
                                        <th scope="col">{{ knp_pagination_sortable(partners, 'Offre ', 'a.offer') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for partner in partners %}


                                        <tr>
                                            <td>
                                                <div class="mt-3">

                                                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce partenaire ?')"
                                                       href="{{ path('admin_panel_partner_delete_', {'id': partner.id, 'csrf_token' : csrf_token('partner_delete_' ~ partner.id)}) }}"
                                                       class="text-decoration-none text-danger">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                        Supprimer </a>

                                                </div>

                                            </td>


                                            <td>{{ partner.title }}</td>
                                            <td>{{ partner.description }}</td>
                                            <td>{{ partner.offer }}</td>
                                            <td>


                                                <div class="mt-3">

                                                    <a class="text-decoration-none text-warning me-3"
                                                       href="{{ path('admin_panel_partner_edit_', {'id': partner.id}) }}">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                        Modifier
                                                    </a>


                                                </div>

                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        {# Pagination #}
                        <div class="row">
                            <div class="col-12 my-3 text-center">
                                <div class="d-inline-block">
                                    {{ knp_pagination_render(partners) }}
                                </div>
                            </div>
                        </div>

                    {% else %}

                        <div class="alert alert-warning w-100 text-center">Aucun partenaire crée</div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}