{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    
    {% block cssIncludes %}{% endblock %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    
    <style>
        li, .dropdown button, .nav-item {
            min-width: 60%;
        }

        li a, .dropdown button, .nav-item {
            min-width: 100%;
        }

        li {
            margin-bottom: 1rem;
        }

        .offcanvas-header button {
            background-color: white;
        }
    
    </style>

</head>
<body>

{#   /////////////////////////// #}


<nav class="container-fluid ">
    <div class="row flex-nowrap">
        
        {# //////////////////////////////////////// web///////////////////////////////////////////////// #}
        <div class="position-fixed col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-none  d-md-block">
            <div class="d-flex flex-column align-items-center align-items-sm-center px-3 pt-2 text-white min-vh-100">
                
                <img class="w-100 pt-5" src="{{ asset('images/logo_header.png') }}" alt="">
                
                <h1 class="d-flex align-items-center mx-auto pt-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu d'administration</span>
                </h1>
                
                <ul class=" pt-5 nav nav-pills flex-column mb-sm-auto mb-0 align-items-center" id="menu">
                    
                    {#                    Accueil du site #}
                    
                    <li class="nav-item">
                        <a class=" btn btn-secondary text-decoration-none text-white" href=" {{ path('main_home') }}">Revenir sur le site</a>
                    </li>
                    
                    
                    {# Accueil admin #}
                    <li class="nav-item">
                        <a class=" btn btn-secondary text-decoration-none text-white" href="{{ path('admin_panel_index') }}">Accueil admin</a>
                    </li>
                    
                    {#                    Evènements #}
                    
                    <li class="nav-item">
                        <div class="dropdown">
                            
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Évènements
                            </button>
                            
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path ('admin_panel_events_list') }}">Liste des évènements</a></li>
                                <li><a class="dropdown-item" href="{{ path ('admin_panel_event') }}">Ajouter un évènement</a></li>
                            </ul>
                        
                        </div>
                    </li>
                    
                    {#                    Utilisateurs #}
                    
                    <li class="nav-item">
                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Utilisateurs
                            </button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{{ path('admin_panel_users_list') }}">Liste des utilisateurs</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_panel_register') }}">Ajouter un utilisateur</a></li>
                            </ul>
                        
                        </div>
                    
                    </li>
                    
                    {#                    Boutiques #}
                    
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Boutiques
                            </button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="{{ path('admin_panel_shops_list') }}">Liste des boutiques</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_panel_shop_creation') }}">Ajouter une boutique</a></li>
                            </ul>
                        
                        </div>
                    
                    </li>
                    
                    {#                    Partenaires #}
                    
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                Partenaires
                            </button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="{{ path('admin_panel_partners_list') }}">Liste des partenaires</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_panel_partner_creation') }}">Ajouter un partenaire</a></li>
                            </ul>
                        
                        </div>
                    
                    </li>
                    
                    {#                    Modifier une page #}
                    
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                                Modifier une page
                            </button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <li><a class="dropdown-item" href="/admin/contenu-dynamique/modifier/accueil/">Accueil</a></li>
                                <li><a class="dropdown-item" href="/admin/contenu-dynamique/modifier/about/">Qui sommes-nous ?</a></li>
                            </ul>
                        
                        </div>
                    
                    </li>
                    <li>
                        <div class="dropdown">
                            
                            
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">
<i class="fas fa-user mx-1"></i>{{ app.user.firstname }} {{ app.user.lastname }}
                        </span> </a>
                            
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                
                                <li><a class="dropdown-item" href="{{ path('user_panel_profil') }}">Profil</a></li>
                                
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        {# /////////////////////////////////////// Mobile /////////////////////////////////////////////// #}
        
        <div id="MobileNav" class="navbar fixed-top d-sm-block d-md-none">
            <div class="container-fluid">
                <a href=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fas fa-bars"></i>
                </button>
                
                <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    
                    <div class="offcanvas-header bg-dark d-flex flex-column">
                        
                        <div class="d-inline-flex w-100 justify-content-end pb-5">
                            <button type="button" class="btn-close btn-light " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        
                        </div>
                        
                        <h5 class="offcanvas-title text-white text-center" id="offcanvasNavbarLabel">
                            <a class="navbar-brand w-75" id="#anchor"><img class="img-fluid w-100 pb-3" src="{{ asset('images/map_icon.png') }}" alt=""></a></h5>
                    
                    </div>
                    
                    <!-- ////////////////////////////////////// -->
                    
                    <div class="offcanvas-body bg-dark">
                        
                        <ul class="nav flex-column align-items-center">
                            
                            {#                            Accueil du site #}
                            
                            <li class="nav-item">
                                <a class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ path('main_home') }}"> Revenir au site </a>
                            </li>
                            
                            {#                            Accueil Admin #}
                            
                            <li class="nav-item">
                                <a class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ path('admin_panel_index') }}"> Accueil admin </a>
                            </li>
                            
                            {#                            Evènements #}
                            
                            <li class="nav-item">
                                
                                <div class="dropdown">
                                    
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Évènements
                                    </button>
                                    
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_events_list') }}">Liste des évènements</a></li>
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_event') }}">Ajouter un évènement</a></li>
                                    </ul>
                                
                                </div>
                            </li>
                            
                            {#                            Utilisateurs #}
                            
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Utilisateurs
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_users_list') }}">Liste des utilisateurs</a></li>
                                        <li><a class="dropdown-item" href="#">Ajouter un utilisateur</a></li>
                                    </ul>
                                
                                </div>
                            
                            </li>
                            
                            {#                            Boutiques #}
                            
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Boutiques
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_shops_list') }}">Liste des boutiques</a></li>
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_shop_creation') }}">Ajouter une boutique</a></li>
                                    </ul>
                                
                                </div>
                            
                            </li>
                            
                            {#                            Partenaires #}
                            
                            
                            <li class="nav-item">
                                <div class="dropdown dropup">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Partenaires
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_partners_list') }}">Liste des partenaires</a></li>
                                        <li><a class="dropdown-item" href="{{ path('admin_panel_partner_creation') }}">Créer un partenaire</a></li>
                                    </ul>
                                
                                </div>
                            
                            </li>
                            
                            {#                            Modifier une page #}
                            
                            <li class="nav-item">
                                <div class="dropdown dropup">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Modifier une page
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="">Qui-sommes-nous ?</a></li>
                                        <!-- <li><a class="dropdown-item" href="#">Ajouter un utilisateur</a></li> -->
                                    </ul>
                                
                                </div>
                            
                            </li>
                            
                            {# Profil #}
                            
                            <div class="dropdown dropup">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="d-inline mx-1">
                                        <i class="fas fa-user mx-1"></i>{{ app.user.firstname }} {{ app.user.lastname }}
                                        </span>
                                </button>
                                
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{{ path('user_panel_profil') }}">Mon profil</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                
                                </ul>
                            
                            </div>
                            
                            </li>
                        
                        </ul>
                    
                    
                    </div>
                
                </div>
            
            </div>
        </div>
        
        
        {# Affichage du contenu #}
        {#        Todo: Attention les messages flashes sont dégueulasses ! #}
        <div class="col py-3">
            {# Affihcage des messages flashes #}
            {% include 'partials/flashes.html.twig' %}
            
            {% block content %}{% endblock %}
        </div>
    
    </div>
</nav>


{% block jsIncludes %}{% endblock %}

<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>